matplotlib  
mdurl  
mpmath  
murmurhash  
networkx  
nltk  
numpy  
packaging  
pandas  
pillow  
pip  
preshed  
pydantic  
pydantic_core  
Pygments  
pyparsing  
python-crfsuite  
python-dateutil  
pytz  
PyYAML  
regex  
requests  
rich  
safetensors  
scikit-learn  
scipy  
seaborn  
setuptools  
shellingham  
six  
smart-open  
spacy  
spacy-legacy  
spacy-loggers  
srsly  
sympy  
thinc  
threadpoolctl  
tokenizers  
torch  
tqdm  
transformers  
typer  
typing_extensions  
tzdata  
underthesea  
underthesea_core  
urllib3  
wasabi  
weasel  
wrapt